.DS_Store
Lilt_Backend/.DS_Store
Lilt_Backend/.classpath
Lilt_Backend/.project
Lilt_Backend/pom.xml
Lilt_Backend/src/main/webapp/
Lilt_Backend/src/main/resources/
Lilt_Backend/target/
Servers/
.metadata
poetryanalyzer/.DS_Store
*.prefs
Lilt_Backend/.settings/*
.idea/*
*.jar
out/*
target/*
web/node_modules/*
web/package-lock.json
web/package-lock.json
src/main/java/com/inverse/lit/Main.java
src/main/java/com/inverse/lit/ConnectToDb.java
src/main/java/com/inverse/lit/Driver.java
Poems/*
