@charset "ISO-8859-1";
body{
    margin: 0;
    padding: 10px 0;
}

.device {
    border-radius: 5px;
}
.line{
    border-right-style: solid;
    border-right-width: 10px;
    font-size: 2em;
}

textarea {
    height: 90vh;
    min-width: 100px;
    max-width: 1000px;
    width: 80vw;
    resize: none;
    display: block;
    margin: 0 auto;
}
.keyContent{
    border-radius: 5px;
    margin: 5px;
}
.currentDisplay{
    font-weight: 900;
}
#submitButton {
    display: block;
    font-size: 2em;
    font-family: Garamond;
    height: 50px;
    width: 120px;
    background-color: transparent;
    color: #331f07;
    margin: 10px auto;
    border: 6px solid #331f07;
    border-radius: 10px;
    transition: all 0.5s;
}

#submitButton:hover {
    border-color: black;
}

.sliderLabel{
    padding:5px;
    margin: 5px;
}

.deviceName {
    display: inline-block;
    padding: 10px;
    font-size: 2em;
    font-family: Arial sans-serif;
}

.btnBar, #key{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer{
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    width: 90%;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    background: #666;
    left: 5%;
}

.deviceBtn{
    background: transparent;
    transition: all 0.5s;
    color: white;
    border: none;
    padding: 10px;
}

.deviceBtn:hover, .deviceBtnPressed{
    background: black;
}
#key {
    display: none;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: #FFF;
    border-radius: 100px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}