@charset "ISO-8859-1";
body{
    margin: 0;
    padding: 10px 0;
    font-family: 'Mada', sans-serif;
    background: #FFF;
}

.device {
    border-radius: 5px;
}
#title{
    text-align: center;
    font-size: 4em;
    font-family: 'Norican', cursive;
    margin: 10px;
}
.top {
    text-align: center;
}
.line{
    border-right: solid 20px Transparent;
    font-size: 2em;
    min-height: 2em;
}

textarea {
    height: 60vh;
    min-width: 100px;
    max-width: 1000px;
    width: 80vw;
    resize: none;
    display: block;
    margin: 0 auto;
}
.keyContent{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: black;
}
.currentDisplay{
    font-weight: 900;
}
.bufferSpace{
    height: 100px;
    margin: 10px;
}
#submitButton {
    display: block;
    font-size: 2em;
    font-family: 'Norican', cursive;
    height: 50px;
    width: 120px;
    background-color: transparent;
    color: #331f07;
    margin: 10px auto;
    border: 6px solid #331f07;
    border-radius: 10px;
    transition: all 0.5s;
}

#submitButton:hover {
    border-color: black;
}
#inputBox{
    white-space: pre;
}
.sliderLabel{
    padding:5px;
    margin: 5px;
}
#keyTitle{
    font-family: 'Norican', cursive;
    margin: 10px;
}
.deviceName {
    display: inline-block;
    margin: 10px;
    font-size: 2em;
}

.btnBar, #key{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer{
    overflow: hidden;
    border-radius: 5px;
    width: 90%;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    background: #666;
    left: 5%;
    color: #FFF;
}
.plain{
    font-weight: normal;
}
.wordWrapper{
    display: inline-flex;
    flex-direction: column;
    margin: 10px 7px;
    transition: box-shaddow 0.3s, background-color 0.3s;
}

#key {
    display: none;
    align-items: center;
}
.scansion {
    display: flex;
    justify-content: space-around;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
.output{
    margin-left: 10px;
}
.pg2{
    margin: 0 auto;
    display: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: #FFF;
    border-radius: 100px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.count{
    margin-left: 4px;
}

.center{
    width: 100%;
    display: flex;
    align-items: center;
}
/* =Animate the stuff
------------------------ */
.dot {
    display: inline-block;
    width: 30px;
    height: 15px;

}
.loader{
    position: relative;;
    top: 20vh;
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Norican', cursive;
    max-width:300px;
}

.loader .dot:nth-last-child(1) {
    margin-left: 4px;
    animation: loadingC .6s .1s linear infinite;
}
.loader .dot:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.loader .dot:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}



@keyframes loadingC {
0 {transform: translate(0,0);}
50% {transform: translate(0,15px);}
100% {transform: translate(0,0);}
}
